/**
 * This file contains the styles for the components of the website.
 * It's independent from the main style.css file, and it's used to style the components of the website.
 * Current components:
 * - Header
 * - Footer
 */

#header {
    background-color: #CB7C8C;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px 0 black;

    

    img {
        cursor: pointer;
        padding-left: 5px;
        height: 90%;
    }

    .search {
        background-color: #FFF1F3;
        color: #82AEB1;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 5px;

        input {
            background: none;
            border: none;
            width: 25vw;
            font-size: 18px;
        }

        button {
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            font-size: 18px;
        }
    }

    .login {
        color: #495867;
        padding-right: 20px;

        a {
            color: #495867;
            text-decoration: none;
        }
        a:hover{
            color: #FFF1F3;
            text-decoration: underline;
        }
    }
}

/* Search bar */
#search-input {
    color: #000000;
    border-radius: 10px;
    outline-width: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    width: max(25vw, 200px);
    height: 20px;
}
/* End of search bar */

#header-below {
    display: block;
    height: 10vh;

    flex: 0 0 auto;
}

#footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #CB7C8C;

    flex: 0 1 auto;

    .content {
        margin: 2vh 0 1vh 0;
        padding: 0 0 2vh 0;
        display: flex;
        justify-content: center;
        column-gap: 30px;
        text-justify: distribute;
        width: 90%;
        border-bottom: black 1px solid;


        div {
            font-family: "Arial", sans-serif;
            color: #4f0e26;

            h1 {
                color: #FFF1F3;
                padding-bottom: 10px;
            }
        }

        #footer-links {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ul {
                list-style: none;
                width: 100%;

                li {
                    display: inline;
                    padding: 5px 0;
                    a {
                        text-decoration: none;
                        color: #152c44;

                        &:hover {
                            color: #FFF1F3;
                            text-decoration: underline;
                        }
                    }

                    &:not(:last-child):after {
                        content: " | ";
                        color: #152c44;
                    }
                }
            }
        }
    }

    p {
        padding-bottom: 5px;
    }
}

/*affichage mobile*/
@media screen and (max-width: 600px) {
    #header {
        background-color: #CB7C8C;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;

        img {
            width: 20vh;
            height: 100%;
        }

        .search {
            background-color: #FFF1F3;
            color: #82AEB1;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 5px;

            input {
                background: none;
                border: none;
                width: 25vw;
                font-size: 18px;
            }

            button {
                background: none;
                border: none;
                outline: none;
                box-shadow: none;
                cursor: pointer;
                font-size: 18px;
            }
        }

        .login {
            color: #495867;
            padding-right: 20px;

            a {
                color: #495867;
                text-decoration: none;
            }
        }
    }
}

/*Bouton pour scroll en haut de la page*/
#button_back 
{
    position:fixed;
    font-size: 2rem;
    bottom: 5vh;
    right: 5vh;
    height: 3.5rem;
    width: 3.5rem;
    border-radius:50%;
    border-width: 1px;
    background-color: #D72483;
    border-color: #D72483;
    align-items: center;
    justify-content: center;
    display: none;
    img{
        width: 50%;
    }
}
#button_back:hover
{
    cursor: pointer;
    img{
        width: 55%;
    }
}