
#header {
    background-color: #CB7C8C;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px 0 black;

    img {
        padding-left: 5px;
        height: 90%;
    }

    .search {
        background-color: #FFF1F3;
        color: #82AEB1;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 5px;

        input {
            background: none;
            border: none;
            width: 25vw;
            font-size: 18px;
        }

        button {
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            font-size: 18px;
        }
    }

    .login {
        color: #495867;
        padding-right: 20px;

        a {
            color: #495867;
            text-decoration: none;
        }
    }
}

/* Search bar */
#search-input {
    color: #000000;
    border-radius: 10px;
    outline-width: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    width: max(25vw, 200px);
    height: 20px;
}
/* End of search bar */

#header-below {
    display: block;
    height: 10vh;
}

#footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #CB7C8C;

    .content {
        margin: 4vh 0 2vh 0;
        padding: 0 0 2vh 0;
        display: flex;
        justify-content: center;
        column-gap: 30px;
        text-justify: distribute;
        width: 90%;
        border-bottom: black 1px solid;


        div {
            font-family: "Arial", sans-serif;
            color: #4f0e26;

            h1 {
                color: #FFF1F3;
                padding-bottom: 10px;
            }
        }

        #footer-about {
            flex: 1 0 30%;
        }

        #footer-links {
            ul {
                list-style: none;
                justify-content: space-between;
                width: 100%;

                li {
                    padding: 5px 0;
                    a {
                        text-decoration: none;
                        color: #152c44;
                    }
                }
            }
        }
    }

    p {
        padding-bottom: 5px;
    }
}

/*affichage mobile*/
@media screen and (max-width: 600px) {
    #header {
        background-color: #CB7C8C;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;

        img {
            width: 20vh;
            height: 100%;
        }

        .search {
            background-color: #FFF1F3;
            color: #82AEB1;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 5px;

            input {
                background: none;
                border: none;
                width: 25vw;
                font-size: 18px;
            }

            button {
                background: none;
                border: none;
                outline: none;
                box-shadow: none;
                cursor: pointer;
                font-size: 18px;
            }
        }

        .login {
            color: #495867;
            padding-right: 20px;

            a {
                color: #495867;
                text-decoration: none;
            }
        }
    }
}