* {
    font-family: '', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #CB7C8C;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    img {
        width: 20vh;
        height: 100%;
    }
    .search{
        background-color: #FFF1F3;
        color: #82AEB1;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 5px;
        input{
            background: none;
            border: none;
            width: 25vw;
            font-size: 18px;
        }
        button{
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            font-size: 18px;
        }
    }
    .login{
        color: #495867;
        padding-right: 20px;
        a{
            color: #495867;
            text-decoration:none;
        }
    }
}

.main {
    background-color: #FFF1F3;

    justify-content: center;
    align-items: center;
}

.presentation{
    padding-top: 10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    img{
        width: 40vw;
        height: 40vw;
        flex: 1 1 auto;
        border: solid #495867;
    }
    .description{
         flex: 1 1 auto;
         justify-content: center;
         align-items: center;
        padding: 5%;
        box-sizing: border-box;
        h1{
        color: #495867;
        font-size: 6vw;
    }
        p{
            color: #82AEB1;
            font-size: 2vw;
        }
     }
}

.list-offres{
    padding: 50px 20px 50px 20px;
}

.posts{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.parametres{
    display: flex;
    justify-content: space-between;
    padding-right: 5vw;
    padding-left: 44vw;
}

.mode{
    color: #495867;
    font-weight: bold;
    font-size: 20px;
    a{
        color: #495867;
        text-decoration:none;
        padding: 5px 5px 5px 5px;
    }
}

.selected{
    border: solid #82AEB1;
}

.filtres{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #495867;
    font-size: 20px;
    cursor: pointer;
}

.offre{
    display: flex;
    background-color: #82AEB1;
    border-radius: 30px 30px 30px 30px;
    width: 900px;
    height: 200px;
    align-items: center;
    cursor: pointer;
    img{
        height: 170px;
        width: 170px;
        border: solid #495867;
        margin-left: 15px;
    }
    article{
        width: 100%;
        padding: 40px 60px 40px 20px;
        flex-direction: row;
        row-gap: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        color: white;
        font-size: 18px;
        ul {
            list-style-type: none;

            li {
                display: inline;
            }

            li:not(:last-child):after {
                content: ', ';
            }
        }
    }
}

.c1, .c2, .c3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 33%;
    row-gap: 30px;
}

.c2{
    row-gap: 36px;
}

.list-competences {
    width: 100%;
}

.poste{
    font-size: 24px;
}

@media (max-width: 700px) {
    .presentation {
        .description {
            p {
                font-size: 3vw;
            }
        }
    }

    .offre {
        img {
            width: 130px;
            height: 130px;
        }
    }

    .parametres{
        padding-left: 20px;
        padding-right: 20px;
    }
}