* {
    font-family: '', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #CB7C8C;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;

    img {
        width: 20vh;
        height: 100%;
    }

    .search {
        background-color: #FFF1F3;
        color: #82AEB1;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 5px;

        input {
            background: none;
            border: none;
            width: 25vw;
            font-size: 18px;
        }

        button {
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            font-size: 18px;
        }
    }

    .login {
        color: #495867;
        padding-right: 20px;

        a {
            color: #495867;
            text-decoration: none;
        }
    }
}

/* Search bar */
.search-input {
    color: #82AEB1;
    border-radius: 10px;
    outline-width: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    width: max(25vw, 200px);
    height: 20px;
}
/* End of search bar */

.main {
    background-color: #FFF1F3;

    justify-content: center;
    align-items: center;
}

.presentation {
    padding-top: 10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    img {
        width: 35vw;
        height: 35vw;
        flex: 1 1 auto;
        border: solid #495867;
        margin: 20px;
    }

    .description {
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
        padding: 5%;
        box-sizing: border-box;

        h1 {
            color: #495867;
            font-size: 5vw;
        }

        p {
            color: #82AEB1;
            font-size: 2vw;
        }
    }
}

.list-offres {
    padding: 50px 20px 50px 20px;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.parametres {
    display: flex;
    justify-content: space-between;
    padding-right: 5vw;
    padding-left: 44vw;
}

.mode {
    color: #495867;
    font-weight: bold;
    font-size: 20px;

    a {
        color: #495867;
        text-decoration: none;
        padding: 5px 5px 5px 5px;
    }
}

.selected {
    border: solid #82AEB1;
}

.filtres {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #495867;
    font-size: 20px;
    cursor: pointer;
}

.offre {
    display: flex;
    background-color: #82AEB1;
    border-radius: 30px 30px 30px 30px;
    width: 900px;
    height: 200px;
    align-items: center;
    cursor: pointer;

    img {
        height: 170px;
        width: 170px;
        border: solid #495867;
        margin-left: 15px;
    }

    article {
        box-sizing: border-box;
        height: 100%;
        width: 90%;
        padding: 20px 60px 40px 20px;
        flex-direction: row;
        row-gap: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        color: white;
        font-size: 1.4em;

        .poste {
            font-size: 1.5em;
        }

        ul {
            list-style-type: none;

            li {
                display: inline;
            }

            li:not(:last-child):after {
                content: ', ';
            }
        }
    }
}

.c1, .c2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    row-gap: 30px;
}

.list-competences {
    width: 100%;
}



@media (max-width: 600px) {
    .presentation {
        .description {
            p {
                font-size: 3vw;
            }
        }
    }

    .search-input {
        width: 100%;
    }

    .c1, .c2, .c3 {
        row-gap: 10px;
    }

    .offre {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        font-size: 1em;
        justify-content: center;
        border-radius: 10px 10px 10px 10px;

        width: 90%;

        height: 100%;
        img {
            width: 15vw;
            height: 15vw;
        }

        article {
            box-sizing: border-box;
            padding: 15px 10px 10px 10px;
            height: 100px;
            font-size: 0.8em;
            row-gap: 0;

            .poste {
                font-size: 1.2em;
                font-weight: bold;
            }

            ul {
                font-size: 1em;

                li {
                    font-size: 1em;
                }
            }
        }
    }

    .parametres {
        padding-left: 20px;
        padding-right: 20px;
    }
}