body {
    background-color: #FFF1F3;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:0;
    padding:0:
}

img{
    height:50px;
}

.navbar{
    background-color: #CB7C8C;
    display: flex;
    flex-direction: row;
}

.logo{
    
}

.liens{
    
}

.input_box_long{
    height:100px;
}

.input_box{
    width:340px
}

footer{
    background-color: #CB7C8C;
    height:50px;
}
.lignes{
    display: flex;
    flex-direction: row;
    gap:50px;
}

.bouton{
    width: 100px;
    background-color:#82AEB1 ;
}

.poster{
    background-color:#82AEB1 ;
    text-align:center;
    width : 340px;
    height: 50px;
}

.titre1{
    font-size: 30px;
    font-weight: bold;
    
}

.texte_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}

.input_form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.formulaire{
    display: flex;
    flex-direction:column;
    gap:10px;
}

.ajout{
    display:flex;
    flex-direction: column;
}

.barre{
    display: flex;
    flex-direction: row;
}

.page{
    gap: 10px;
}
