RewriteEngine On
RewriteRule ^login$ /api/login.php [L,NC] # [L] - last rule # [NC] - case insensitive
RewriteRule ^logout$ /api/logout.php [L,NC] # [L] - last rule # [NC] - case insensitive
RewriteRule ^offres$ /api/offres.php [L,NC] # [L] - last rule # [NC] - case insensitive
RewriteRule ^users$ /api/utilisateurs.php [L,NC] # [L] - last rule # [NC] - case insensitive
RewriteRule ^promos$ /api/promotions.php [L,NC] # [L] - last rule # [NC] - case insensitive
RewriteRule ^entreprises$ /api/entreprises.php [L,NC] # [L] - last rule # [NC] - case insensitive
RewriteRule ^adresses$ /api/adresses.php [L,NC] # [L] - last rule # [NC] - case insensitive
RewriteRule ^candidatures$ /api/candidatures.php [L,NC] # [L] - last rule # [NC] - case insensitive